<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text Analyser</title>
  </head>
  <body>
    <header>
      <h1>Text Analyser App</h1>
    </header>
    <main>
      <form form class="" onsubmit="return Client.checkLang(event)">
        <input id="textInput" type="text" name="" value="" placeholder="Enter text">
        <input input type="submit" name="" value="submit" onclick="return Client.checkLang(event)" onsubmit="return Client.checkLang(event)">
      </form>

      <section>
          <strong>Form Results:</strong>
          <div id="results"></div>
      </section>
    </main>
    <footer>
      <p>Coded by Marina</p>
    </footer>
  <script>
    if ('serviceWorker' in navigator){
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  </body>
</html>
